<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
    <header>
        <h1>
            Quote Search
        </h1>
    </header>
    <div class='card'>
      <form class="row" action='/searchByAuthor'>
        <div class="col-auto">
        <select class='form-select' name="authorId">
          <option value='0'>Select Author</option>
            <% for( let i = 0; i < authors.length; i++ ) { %>
                <option value="<%=authors[i].authorId %>">
                  <%= authors[i].firstName  %> <%= authors[i].lastName  %>  
                </option>
            <% } %>
        </select>
        </div>
        <div class='col-auto'>
        <button class='btn btn-primary' type='submit'>Search by Author</button>
        </div>
      </form>

      <form class='row' action='/searchByKeyword'>
        <div class='col-auto'>
          <input type='text' name='keyword' placeholder='Enter keyword' class='form-control'>
        </div>
        <div class='col-auto'>
          <button type='submit' class='btn btn-primary'>Search by Keyword</button>
        </div>
      </form>

      <form class="row" action='/quoteByCategory'>
        <div class="col-auto">
        <select class='form-select' name="category">
          <option value='0'>Select Category</option>
            <% for( let i = 0; i < category.length; i++ ) { %>
                <option value="<%=category[i].category %>">
                  <%= category[i].category  %>  
                </option>
            <% } %>
        </select>
        </div>
        <div class='col-auto'>
        <button class='btn btn-primary' type='submit'>Search by Category</button>
        </div>
      </form>

      <form class='row' action='/searchByLikes'>
        <div class='col-auto'>
          <span class='form-control-plaintext'>Enter Like range:</span>
        </div>
        <div class='col-auto'>
          <input type='number' class='form-control like' placeholder='Start' name='start'>
        </div>
        <div class='col-auto'>
          <input type='number' class='form-control like' placeholder='End' name='end'>
        </div>
        <div class='col-auto'>
          <button class='btn btn-primary' type='submit'>Search by Likes</button>
        </div>
      </form>
    </div>

</body>
</html>